<ion-content padding class="login">
  <div class="login-content">

    <img class="login-logo" src="assets/icon/busdev_white.png"/>
    <br>
    <!-- <h1 class="login-title">Welcome to BusDev!</h1> -->

    <button ion-button block clear color="dark" class="login-title">
       Welcome to BusDev!
    </button>

    <div padding class="login-form">

      <button ion-button block color="danger" *ngIf="hasError" (click)="close()">
        <p ion-text color="dark">{{errorMessage}}</p>
      </button>

        <ion-item class="login-input-top">
          <ion-input type="email" placeholder="Email" #email></ion-input>
        </ion-item>
        <ion-item class="login-input-bottom">            
          <ion-input type="password" placeholder="Password" #pwd></ion-input>
        </ion-item>


        <button ion-button block color="editor" class="login-button" (click)="signInWithEmail(email.value,pwd.value)">
          Log in
        </button>

      <!-- <p class="forgot-password" (click)="navigateTo('auth-password')">Forgot Password?</p> -->
      <!-- <p ion-text color="danger" *ngIf="hasError">{{errorMessage}}</p> -->
      
      <button ion-button block clear color="dark" class="login-title inner">
        OR
      </button>

      <button ion-button block (click)="logInWithFacebook()" color="default" class="facebook-button">
        <ion-icon name="logo-facebook"></ion-icon> &nbsp; Facebook
      </button>
    </div>
  </div>
</ion-content>
  
  <ion-footer>
    <ion-toolbar class="footer">
      <div (click)="navigateTo('signup')">
        <span>Not a member yet? <strong>Sign up!</strong></span>
      </div>
    </ion-toolbar>
  </ion-footer>
  