<!-- <ion-toolbar>
  <ion-buttons end>
    <button ion-button color="primary" (click)="finish()">Done</button>
  </ion-buttons>
</ion-toolbar> -->

<ion-content>
  <ion-slides pager (ionSlideReachEnd)="slidesEnd();">   <!-- (ionSlideNextStart)="setUp()"> -->
    <ion-slide *ngFor="let slide of slidesBD">
      <div *ngIf="!slide.nav">
        <img [src]="slide.image" />
        <ion-icon name="{{slide.icon}}" color="{{slide.iconColor}}" style="font-size: 90px;"></ion-icon>
        <h2 [innerHTML]="slide.title"></h2>
        <p [innerHTML]="slide.description"></p>
        <div *ngIf="slide.setButton">
          <button ion-button large clear icon-end color="primary" (click)="actionButton()">
            {{slide.buttonText}}
            <ion-icon name="{{slide.buttonIcon}}"></ion-icon>
          </button>
        </div>
      </div>
      
      <div *ngIf="slide.nav">
        <h1>Choose Navigation</h1>
        <!-- <ion-content>
          <ion-slides pager #slide2 (ionSlideReachEnd)="s2End();">
            <h1 [innerHTML]="Choose Navigation"></h1>
            <ion-slide *ngFor="let nav of navSlides">
              <ion-grid>
                <ion-row>
                  <ion-col col-9> <!-- class="parent" 
                      <img [src]="nav.image"/>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <h3 [innerHTML]="nav.description"></h3>
              <p [innerHTML]="nav.description"></p>
              
            </ion-slide>
          </ion-slides>
        </ion-content> -->
      </div>
  
    </ion-slide>

  </ion-slides>

  <!-- <ion-slides #slide1 pager>
    <ion-slide>
      <h1>Hey</h1>
    </ion-slide>
    <ion-slide>
      <ion-slides #slide2 pager>
        <ion-slide>
          <h1>Hello1</h1>
        </ion-slide>
        <ion-slide>
          <h1>Hello2</h1>
        </ion-slide>
        <ion-slide>
          <h1>Hello3</h1>
        </ion-slide>
      </ion-slides>
    </ion-slide>
    <ion-slide>
      <h1>The END!</h1>
    </ion-slide>
  </ion-slides> -->


</ion-content>