page-slider {

}

.center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.parent {
    position: relative;
  }
  .child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }