<ion-header>
  <ion-navbar>
    <ion-item>
      <!-- <ion-avatar item-start>
        <img round src={{this.user.photoURL}}>
      </ion-avatar> -->
      <ion-title item-end>BusDev</ion-title>
    </ion-item>
  </ion-navbar>
</ion-header>


<ion-content class="card-background-page">
  <ion-fab top right edge>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab *ngIf="isAdmin"><ion-icon name="add"></ion-icon></button>
      <!-- <button (click)="logout()" ion-fab><ion-icon name="log-out"></ion-icon></button> -->
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <ion-card *ngFor="let card of cardsBD">
    <img src="{{card.img}}" />
    <div class="card-title">{{card.title}}</div>
    <div class="card-subtitle">{{card.subtitle}}</div>
  </ion-card>

</ion-content>
    
