<nav-bar></nav-bar>

<!-- color="primary" -->

<ion-content padding color="danger">
  <br>
  <form (ngSubmit)="done()" [formGroup]="form">

    <ion-list no-lines>
      <ion-list-header></ion-list-header>
      <ion-item-group reorder="{{this.user.editor}}" (ionItemReorder)="reorderItems($event)">
        <ion-item text-wrap *ngFor="let item of pageItems; let i = index;">

          <!-- Text Item or List -->
          <ion-icon name="{{item.label.icon}}" *ngIf="getItemType(item.type,'label') && isNull(item.label.icon)" item-start></ion-icon>
          <ion-thumbnail item-start *ngIf="getItemType(item.type,'label') && (item.label.thumbnail != null)">
            <img src="{{item.label.thumbnail}}">
          </ion-thumbnail>
          <ion-label *ngIf="getItemType(item.type,'label') && !this.user.editor">{{item.label.text}}</ion-label>
          <ion-input *ngIf="getItemType(item.type,'label') && this.user.editor" value="{{item.label.text}}"></ion-input>
          <button ion-button icon-left item-end outline color="{{item.label.button.color}}" *ngIf="getItemType(item.type,'label') && isNull(item.label.button)">
            <ion-icon name="{{item.label.button.icon}}"></ion-icon>
            <div>{{item.label.button.text}}</div>
          </button>

          <!-- Button Item -->
          <ion-card *ngIf="getItemType(item.type,'button')" color="{{item.button.color}}" style="padding:0;border:0;margin:0;">
            <ion-card-content>
              <ion-item color="light" text-conter>
                <ion-icon item-start name="{{item.button.icon}}" *ngIf="item.button.left"></ion-icon>
                {{item.button.label}}
                <ion-icon item-end name="{{item.button.icon}}" *ngIf="!item.button.left"></ion-icon>
              </ion-item>
            </ion-card-content>
          </ion-card>

          <!-- Card Item -->
          <ion-card *ngIf="getItemType(item.type,'card')" (click)="(this.user.editor) ? editItem():cardAction()">
            <img src="assets/icon/logo.jpg">
            <ion-card-content>
              <ion-card-title>
              {{item.card.header}}
              </ion-card-title> 
              <p>
               {{item.card.content}}
              </p>
            </ion-card-content>

            <!-- <ion-row>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>12 Likes</div>
                </button>
                <ion-note> 11h ago </ion-note>
                <div>11h ago</div>
              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="text"></ion-icon>
                  <div>4 Comments</div>
                </button>
                <ion-note> 11h ago </ion-note>
                <div>11h ago</div>
              </ion-col>
              <ion-col center text-center>
                <ion-note> 11h ago </ion-note>
                <div>11h ago</div>
              </ion-col>
            </ion-row> -->

          </ion-card>

          <button *ngIf="this.user.editor" ion-button color="danger" item-end (click)="deleteItem(i)">
            <ion-icon name="md-trash"></ion-icon>
          </button>

        </ion-item>
      </ion-item-group>
    </ion-list>


<!-- <ion-list>
  <ion-list-header>Header</ion-list-header>
  <ion-item-group reorder="true" (ionItemReorder)="vReorder($event)">
    <ion-item *ngFor="let item of pageItems">{{ item.type }}</ion-item>
  </ion-item-group>
</ion-list> -->

    <!-- <ion-list *ngFor="let item of list">
      <ion-item *ngIf="item.isItem">
          <ion-icon name="{{item.icon}}" *ngIf="item.hasIcon"></ion-icon> 
          <ion-label>{{item.label}}</ion-label>
          <ion-input formControlName="{{item.label}}" *ngIf="item.hasInput" value="{{item.input}}"></ion-input>
          <ion-toggle *ngIf="item.hasToggle" color="{{item.toggleColor}}"></ion-toggle>
      </ion-item>
      <button ion-item *ngIf="item.isButton" (click)="itemButton(item.action)">
          <ion-icon name="{{item.icon}}" item-start *ngIf="item.hasIcon"></ion-icon>
          <ion-label>{{item.label}}</ion-label>
          <ion-note item-end *ngIf="item.hasNote">{{item.note}}</ion-note>
      </button>

    </ion-list>

    <button ion-button block *ngIf="btn.isHidden" type="submit">{{btn.text}}</button> -->

  </form>

  <ion-fab right bottom *ngIf="this.user.editor">
    <button ion-fab color="secondary">
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">

      <button outline color="light" item-start (click)="addItem('label')">
        Label
      </button>
      <button ion-fab color="default" (click)="addItem('label')">
        <ion-icon name="logo-facebook"></ion-icon>
      </button>

      <button outline color="light" item-start (click)="addItem('button')">
        Button
      </button>
      <button ion-fab (click)="addItem('button')">
        <ion-icon name="logo-facebook"></ion-icon>
      </button>

      <button outline color="light" item-start (click)="addItem('card')">
        Card
      </button>
      <button ion-fab color="default" (click)="addItem('card')">
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>


