<nav-bar></nav-bar>

<!-- color="primary" -->

<ion-content padding color="danger">
  <!-- <form (ngSubmit)="done()" [formGroup]="form"></form> -->
  
  <ion-toolbar *ngIf="user.editor"></ion-toolbar>


    <ion-list no-lines>
      <ion-list-header></ion-list-header>
      <ion-item-group reorder="{{user.editorMove}}" (ionItemReorder)="reorderItems($event)">
        <ion-item text-wrap *ngFor="let item of pageItems; let i = index;">

          <!-- image -->
          <img *ngIf="getItemType(item.type,'img')" src="{{item.img}}">

          <!-- text -->
          <div *ngIf="getItemType(item.type,'label',i) && !this.user.editor" [innerHtml]="item.text"></div>
          <ion-textarea #labelInput
            *ngIf="getItemType(item.type,'label') && this.user.editor" 
            value="{{item.text}}"
            (input)="editItem(i,labelInput.value)"
            class="label-textarea"
          ></ion-textarea>

          <!-- button -->
          <!-- <button ion-button block (click)="(this.isEdit) ? editItem():buttonAction()" color="{{item.button.color}}" *ngIf="getItemType(item.type,'button')"
            [outline]="item.button.outline ? '' : null" icon-left="(item.button.left)?'':null" icon-right="(!item.button.left)?'':null">
            <ion-icon name="{{item.button.icon}}" *ngIf="item.button.left"></ion-icon>
            {{item.button.label}}
            <ion-icon name="{{item.button.icon}}" *ngIf="!item.button.left"></ion-icon>
          </button> -->

          <!-- Button Item -->
          <ion-card *ngIf="getItemType(item.type,'button')" color="{{item.color}}">
            <ion-card-content>
                {{item.text}}
            </ion-card-content>
          </ion-card>
          <!-- <ion-input #buttonInput 
            *ngIf="getItemType(item.type,'button') && this.user.editor"
            value="{{item.text}}" 
            (input)="editItem(i,buttonInput.value)"
          ></ion-input> -->
      
          <!-- <button ion-button item-end color="dark" (click)="toggleFab()">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </button> -->

          <ion-fab item-end right #fab *ngIf="this.user.editor">
            <button mini ion-fab color="editor" clear>
              <ion-icon name="ios-arrow-back"></ion-icon>
            </button>

            <ion-fab-list side="left">

              <button mini ion-button color="danger" (click)="deleteItem(i,fab)">
                <ion-icon name="ios-trash"></ion-icon>
                <!-- Delete -->
              </button>

              <button mini ion-button color="editor" (click)="moveItem('',fab)">
                <ion-icon name="ios-move-outline"></ion-icon>
                <!-- Move -->
              </button>

              <button mini ion-button color="editor" (click)="newItem(fab,i,'up')">
                <ion-icon name="md-arrow-up"></ion-icon>
                 <!-- New Up  -->
              </button>
              
              <button mini ion-button color="editor" (click)="newItem(fab,i,'down')">
                <ion-icon name="md-arrow-down"></ion-icon>
                <!-- New Down -->
              </button>

              <button mini ion-button color="editor">
                <ion-icon name="ios-swap"></ion-icon>
                <!-- Replace -->
              </button>
            </ion-fab-list>
          </ion-fab>

        </ion-item>
      </ion-item-group>
    </ion-list>

</ion-content>


