
.settings-content {
    background-color: #ffffff;
}

.user_image {
    position: relative;
    top: 3vw;
    height: 30vw;
    width: 30vw;
    border: 1px solid #333a56;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.user_name {
    position: relative;
    // left: 37vw;
    top: 3vw;
    font-size: 5vw;
    font-style: bold;
}

.settings-logo {
    position: relative;
    top: 30vw;
    margin: auto;
    display: block;
    height: 19vw;
    width: 17vw;
}

.settings-list {
    position: relative;
    top: 5vw;
}