
.outer-content {
    background-color: #ffffff;
}

.user_image {
    position: relative;
    left: 35vw;
    top: 2vw;
    height: 30vw;
    width: 30vw;
    border: 1px solid #333a56;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.user_name {
    //position: relative;
    left: 33vw;
    //top: 3vw;
    //font-size: 16;
}

.logo {
    position: absolute;
    left: 40vw;
    bottom: 3vw;
    height: 20vw;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
}