
.signup {
    background-color: #0070ff;
}

.signup-content {
    position: relative;
    top: 5vw;
}

.signup-image {
    position: relative;
    top: 2vw;
    height: 30vw;
    width: 30vw;
    border: 1px solid #333a56;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.signup-title {
    font-size: 6vw;
    font-weight: bold;
    color: white;
}

.inner {
    font-size: 4vw;
}

.signup-form {
    margin: 4vw 10vw;
    font-size: 4vw;
}

.signup-input-top {
    border-top: 1 solid white;
    border-top-right-radius: 2vw;
    border-top-left-radius: 2vw;
}

.signup-input-bottom {
    border-bottom: 1 solid white;
    border-bottom-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    margin-bottom: 5vw;
}

.facebook-button, .signup-input-top, .signup-input-bottom, .signup-button { 
     font-size: 4vw;
}

.footer {
    margin: auto auto;
    font-size: 4vw;
}

.signup-logo {
    margin: auto;
    display: block;
    height: 19vw;
    width: 17vw;
}